@model iTut.Models.HOD.EmployeeEducation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployeeEducation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationLevel.EducationLevelNaame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamTitle.TitleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstituteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstituteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achievement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achievement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
