@model IEnumerable<iTut.Models.HOD.Enrollment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h1>Shool Managemen</h1>
<hr />
<p>
    <a asp-controller="HOD" asp-action="EnrollmentsCreate">Create New</a>
</p>
<hr />
<table class="table table-striped table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Roll)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Roll)
            </td>
            <td>
                    <a asp-controller="HOD" asp-action="EnrollmentsEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="HOD" asp-action="EnrollmentsDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="HOD" asp-action="EnrollmentsDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
