@model iTut.Models.HOD.Course

@{
    ViewData["Title"] = "Details";
}
<div id="collapseOffCanvas" class="bg-body offcanvas-collapse open w-100">
    <main class="main-expanded vh-100 w-100">
        <div class="container-fluid px-lg-5">
            <div class="d-flex py-5 border-bottom">
                <div class="mr-auto">
                    <h2 class="mb-2 fs-1 lh-tight"> </h2>
                    <p class="lh-tight">Student Management</p>
                </div>
                <ul class="list-unstyled d-flex align-items-center">
                    <li class="d-lg-none mr-sm-5">
                        <button class="btn link-body p-0 offcanvas-button" type="button">
                            <svg class="gi gi-arrow-circle-left fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm-.293 6.293a1 1 0 0 0-1.414 0h0l-3 3-.083.094a1 1 0 0 0 .083 1.32h0l3 3 .094.083a1 1 0 0 0 1.32-.083h0l.083-.094a1 1 0 0 0-.083-1.32h0L10.416 13H16l.117-.007A1 1 0 0 0 16 11h0-5.586l1.293-1.293.083-.094a1 1 0 0 0-.083-1.32z"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="invisible-scrollbar position-relative wh-main">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-3">
                            <div class="mr-auto">
                                <h2 class="mb-2 fs-2 lh-tight">Details Of </h2>
                                <p>Subject</p>
                            </div>
                        </div>
                        
                            <div>
                                <h4>Subject</h4>
                                <hr />
                                <dl class="row">
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.Code)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.Code)
                                    </dd>
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.Theory)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.Theory)
                                    </dd>
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.Mcq)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.Mcq)
                                    </dd>
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.Practical)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.Practical)
                                    </dd>
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.Total)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.Total)
                                    </dd>
                                    <dt class = "col-sm-2">
                                        @Html.DisplayNameFor(model => model.ClassName)
                                    </dt>
                                    <dd class = "col-sm-10">
                                        @Html.DisplayFor(model => model.ClassName.Name)
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                <a asp-action="Index">Back to List</a>
                            </div>
                    </div>
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

