@model IEnumerable<iTut.Models.Edu.Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="Container-fluid py-2 px-lg-2 w-100" > 

           <div class="Head_Container py-2 d-flex">
           <h1>Categories</h1>

          <div class="back_button ml-auto pr-3 py-0">
                <a href="/Educator/CreateCategory" class="btn btn-outline-danger"> Back </a> 

     
            </div>
        </div>
 
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.categoryStatus)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CreateAt)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.UpdateAt)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
           
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td >
                        @Html.DisplayFor(modelItem => item.categoryStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateAt)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
  
</div>