@model ParentIndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div id="collapseOffCanvas" class="bg-body offcanvas-collapse open w-100">
    <main class="main-expanded vh-100 w-100">
        <div class="container-fluid px-lg-5">
            <div class="d-flex py-5 border-bottom">
                <span class="d-inline-flex flex-shrink-0 align-items-center justify-content-center mr-3 text-white text-uppercase bg-primary rounded-circle  wh-2-5rem">@Model.Parent.FirstName.ToCharArray()[0]</span>
                <div class="mr-auto">
                    <h2 class="mb-2 fs-1 lh-tight">Hi, @Model.Parent.FirstName</h2>
                    <p class="lh-tight">Dashboard</p>
                </div>
                <ul class="list-unstyled d-flex align-items-center">
                    <li class="d-lg-none mr-sm-5">
                        <button class="btn link-body p-0 offcanvas-button" type="button">
                            <svg class="gi gi-arrow-circle-left fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm-.293 6.293a1 1 0 0 0-1.414 0h0l-3 3-.083.094a1 1 0 0 0 .083 1.32h0l3 3 .094.083a1 1 0 0 0 1.32-.083h0l.083-.094a1 1 0 0 0-.083-1.32h0L10.416 13H16l.117-.007A1 1 0 0 0 16 11h0-5.586l1.293-1.293.083-.094a1 1 0 0 0-.083-1.32z"></path>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="invisible-scrollbar position-relative wh-main">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-3">
                            <div class="mr-auto">
                                <h2 class="mb-2 fs-2 lh-tight">Timeline</h2>
                                <p>What is happening?</p>
                            </div>
                        </div>
                    </div>
                    @if (Model.Posts.Count > 0 && Model.Posts != null)
                    {
                        @foreach (var post in Model.Posts)
                        {
                            <div class="col-12 mb-4">
                                <div class="w-100 h-100 bg-body-light rounded d-flex p-3">
                                    <span class="d-inline-flex flex-shrink-0 align-items-center justify-content-center mr-3 text-white text-uppercase bg-primary rounded-circle  wh-2-5rem">@post.PostTitle.ToCharArray()[0]</span>
                                    <div class="d-flex align-items-start flex-column w-100">
                                        <div class="mb-auto w-100">
                                            <div>
                                                <h2 class="mb-2 fs-1 lh-tight">
                                                    @post.PostTitle
                                                </h2>
                                                <p>@post.PostContent</p>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center mt-3">
                                                <div class="d-flex align-items-center">
                                                    <p class="mr-3">
                                                        <svg class="gi gi-message-square-2-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M19 2.435a3 3 0 0 1 3 3v10a3 3 0 0 1-3 3H8.303a1 1 0 0 0-.555.168L3.555 21.4A1 1 0 0 1 2 20.566V5.435a3 3 0 0 1 3-3h14zm0 2H5a1 1 0 0 0-.993.883L4 5.435v13.262l2.64-1.758a3 3 0 0 1 1.443-.496l.22-.008H19a1 1 0 0 0 .993-.883l.007-.117v-10a1 1 0 0 0-.883-.993L19 4.435zm-11 7a1 1 0 1 0 0-2 1 1 0 1 0 0 2zm4 0a1 1 0 1 0 0-2 1 1 0 1 0 0 2zm4 0a1 1 0 1 0 0-2 1 1 0 1 0 0 2z" />
                                                        </svg>
                                                        @post.Comments.Count
                                                    </p>
                                                </div>
                                                <a href="/Parent/Post/@post.Id" class="btn btn-primary btn-sm">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="alert alert-info">
                                <p>Nothing happening yet...</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </main>
</div>